In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf

from tensorflow.keras.preprocessing.image import ImageDataGenerator
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv('E:\DataSets\CovidChestXRay\Chest_xray_Corona_Metadata.csv')

In [3]:
df.head()

,Unnamed: 0,X_ray_image_name,Label,Dataset_type,Label_2_Virus_category,Label_1_Virus_category
0,0,IM-0128-0001.jpeg,Normal,TRAIN,NaN,NaN
1,1,IM-0127-0001.jpeg,Normal,TRAIN,NaN,NaN
2,2,IM-0125-0001.jpeg,Normal,TRAIN,NaN,NaN
3,3,IM-0122-0001.jpeg,Normal,TRAIN,NaN,NaN
4,4,IM-0119-0001.jpeg,Normal,TRAIN,NaN,NaN

In [4]:
print(set(df['Label']))

{'Normal', 'Pnemonia'}

In [5]:
print(df.columns)

Index(['Unnamed: 0', 'X_ray_image_name', 'Label', 'Dataset_type',
       'Label_2_Virus_category', 'Label_1_Virus_category'],
      dtype='object')

In [6]:
for column in df.columns[2:]:
    df[column] = LabelEncoder().fit_transform(df[column])

In [7]:
output_columns = np.array([df.columns[2], df.columns[4], df.columns[5]])
print(output_columns)

['Label' 'Label_2_Virus_category' 'Label_1_Virus_category']

In [8]:
df.head()

,Unnamed: 0,X_ray_image_name,Label,Dataset_type,Label_2_Virus_category,Label_1_Virus_category
0,0,IM-0128-0001.jpeg,0,1,4,3
1,1,IM-0127-0001.jpeg,0,1,4,3
2,2,IM-0125-0001.jpeg,0,1,4,3
3,3,IM-0122-0001.jpeg,0,1,4,3
4,4,IM-0119-0001.jpeg,0,1,4,3

In [9]:
total_encoded = []
for column in output_columns:
    col_values = df[column]
    rows = np.arange(col_values.size)
    encoded = np.zeros((col_values.size, col_values.max() + 1))
    encoded[rows, col_values] = 1
    total_encoded.append(encoded)
print(total_encoded)

[array([[1., 0.],
       [1., 0.],
       [1., 0.],
       ...,
       [0., 1.],
       [0., 1.],
       [0., 1.]]), array([[0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 1.],
       ...,
       [0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 1.]]), array([[0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       ...,
       [0., 1., 0., 0.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.]])]

In [10]:
stacked = np.hstack((total_encoded[0], total_encoded[1]))
stacked = np.hstack((stacked, total_encoded[2]))

In [11]:
print(stacked.shape)

(5910, 11)

In [12]:
new_df = pd.DataFrame(stacked)
new_df.head()

    0    1    2    3    4    5    6    7    8    9    10
0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0
1  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0
2  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0
3  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0
4  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0

In [13]:
new_df['X_ray_image_name'] = df['X_ray_image_name']

In [14]:
new_df.head()

     0    1    2    3    4    5    6    7    8    9   10   X_ray_image_name
0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  IM-0128-0001.jpeg
1  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  IM-0127-0001.jpeg
2  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  IM-0125-0001.jpeg
3  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  IM-0122-0001.jpeg
4  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  IM-0119-0001.jpeg

In [15]:
df = df.astype({'Label': np.float32, 'Label_2_Virus_category': np.float32, 'Label_1_Virus_category': np.float32 })
df.head()

,Unnamed: 0,X_ray_image_name,Label,Dataset_type,Label_2_Virus_category,Label_1_Virus_category
0,0,IM-0128-0001.jpeg,0.0,1,4.0,3.0
1,1,IM-0127-0001.jpeg,0.0,1,4.0,3.0
2,2,IM-0125-0001.jpeg,0.0,1,4.0,3.0
3,3,IM-0122-0001.jpeg,0.0,1,4.0,3.0
4,4,IM-0119-0001.jpeg,0.0,1,4.0,3.0

In [16]:
train_df = pd.DataFrame(columns = new_df.columns)
test_df = pd.DataFrame(columns = new_df.columns)

for i in range(len(new_df)):
        if df.iloc[i]['Dataset_type'] == 1:
            train_df = train_df.append(dict(new_df.iloc[i]), ignore_index = True)
        else:
            test_df = test_df.append(dict(new_df.iloc[i]), ignore_index = True)

In [17]:
train_df.head()

     0    1    2    3    4    5    6    7    8    9   10   X_ray_image_name
0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  IM-0128-0001.jpeg
1  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  IM-0127-0001.jpeg
2  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  IM-0125-0001.jpeg
3  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  IM-0122-0001.jpeg
4  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  IM-0119-0001.jpeg

In [18]:
print(train_df.shape)

(5286, 12)

In [19]:
df = pd.read_csv('E:\DataSets\CovidChestXRay\Chest_xray_Corona_Metadata.csv')

In [20]:
df_train = df[df['Dataset_type'] == 'TRAIN']
df_test = df[df['Dataset_type'] == 'TEST']

In [21]:
df_train.head()

,Unnamed: 0,X_ray_image_name,Label,Dataset_type,Label_2_Virus_category,Label_1_Virus_category
0,0,IM-0128-0001.jpeg,Normal,TRAIN,NaN,NaN
1,1,IM-0127-0001.jpeg,Normal,TRAIN,NaN,NaN
2,2,IM-0125-0001.jpeg,Normal,TRAIN,NaN,NaN
3,3,IM-0122-0001.jpeg,Normal,TRAIN,NaN,NaN
4,4,IM-0119-0001.jpeg,Normal,TRAIN,NaN,NaN

In [22]:
train_df.columns[:2]

Index([0, 1], dtype='object')

In [23]:
batch_size = 32
target_size = (1024, 1024)

In [49]:
train_gen = ImageDataGenerator(validation_split = 0.2, rescale=1. / 255)
train_generator = train_gen.flow_from_dataframe(
    train_df,
    directory = r'E:\DataSets\CovidChestXRay\Coronahack-Chest-XRay-Dataset\train',
    x_col = 'X_ray_image_name',
    y_col = train_df.columns[:2],
    target_size = target_size,
    class_mode = 'raw',
    subset = 'training',
    color_mode='grayscale',
    batch_size = batch_size,
    shuffle = True
)
validation_generator = train_gen.flow_from_dataframe(
    train_df,
    directory = r'E:\DataSets\CovidChestXRay\Coronahack-Chest-XRay-Dataset\train',
    x_col = 'X_ray_image_name',
    y_col = train_df.columns[:2],
    target_size = target_size,
    class_mode = 'raw',
    subset = 'validation',
    color_mode='grayscale',
    batch_size = batch_size,
    shuffle = True
)
test_generator = ImageDataGenerator(rescale=1. / 255).flow_from_dataframe(
    test_df,
    directory = r'E:\DataSets\CovidChestXRay\Coronahack-Chest-XRay-Dataset\test',
    x_col = 'X_ray_image_name',
    y_col = train_df.columns[:2],
    target_size = target_size,
    class_mode = 'raw',
    color_mode='grayscale',
    batch_size = batch_size,
    shuffle = False
)

Found 4229 validated image filenames.
Found 1057 validated image filenames.
Found 624 validated image filenames.

In [50]:
print(target_size + (3,))
print(target_size)

(1024, 1024, 3)
(1024, 1024)

In [51]:
from tensorflow.keras.applications.efficientnet import EfficientNetB1
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import Dropout
from tensorflow.keras.layers import GlobalAveragePooling2D
from tensorflow.keras.layers import Flatten
from tensorflow.keras import layers

In [52]:
eff = EfficientNetB1(include_top = False, input_shape = target_size + (3,))
for layer in eff.layers:
    layer.trainable = False

In [53]:
model = Sequential([
    layers.Conv2D(2, (11, 11), input_shape = target_size + (1,), padding = 'valid'),
    layers.MaxPooling2D(),
    layers.BatchNormalization(axis=-1),
    layers.Dropout(0.5),
    layers.Conv2D(4, (9, 9), padding = 'valid'),
    layers.MaxPooling2D(),
    layers.BatchNormalization(axis=-1),
    layers.Dropout(0.5),
    layers.Conv2D(8, (7, 7), padding = 'valid'),
    layers.MaxPooling2D(),
    layers.BatchNormalization(axis=-1),
    layers.Dropout(0.5),
    layers.Conv2D(16, (5, 5), padding = 'valid'),
    layers.MaxPooling2D(),
    layers.BatchNormalization(axis=-1),
    layers.Dropout(0.5),
    layers.Conv2D(32, (3, 3), padding = 'valid'),
    layers.MaxPooling2D(),
    layers.BatchNormalization(axis=-1),
    layers.Dropout(0.5),
    layers.Conv2D(64, (1, 1), padding = 'valid'),
    layers.MaxPooling2D(),
    layers.BatchNormalization(axis=-1),
    layers.Flatten(),
    layers.Dense(512, activation = 'relu'),
    layers.Dropout(0.8),
    layers.Dense(128, activation = 'relu'),
    layers.Dropout(0.5),
    layers.Dense(32, activation = 'relu'),
    layers.Dropout(0.5),
    layers.Dense(2, activation = 'sigmoid')
])
model.summary()
'''model = Sequential()
model.add(eff)
model.add(GlobalAveragePooling2D())
model.add(Flatten())
model.add(Dense(1024, activation = 'relu'))
model.add(Dropout(0.2))
model.add(Dense(512, activation = 'relu'))
model.add(Dropout(0.2))
model.add(Dense(64, activation = 'relu'))
model.add(Dropout(0.2))
model.add(Dense(2, activation = 'softmax'))
model.summary()'''

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d_18 (Conv2D)           (None, 1014, 1014, 2)     244
_________________________________________________________________
max_pooling2d_18 (MaxPooling (None, 507, 507, 2)       0
_________________________________________________________________
batch_normalization_18 (Batc (None, 507, 507, 2)       8
_________________________________________________________________
dropout_24 (Dropout)         (None, 507, 507, 2)       0
_________________________________________________________________
conv2d_19 (Conv2D)           (None, 499, 499, 4)       652
_________________________________________________________________
max_pooling2d_19 (MaxPooling (None, 249, 249, 4)       0
_________________________________________________________________
batch_normalization_19 (Batc (None, 249, 249, 4)       16
_________________________________________________________________
dropout_25 (Dropout)         (None, 249, 249, 4)       0
_________________________________________________________________
conv2d_20 (Conv2D)           (None, 243, 243, 8)       1576
_________________________________________________________________
max_pooling2d_20 (MaxPooling (None, 121, 121, 8)       0
_________________________________________________________________
batch_normalization_20 (Batc (None, 121, 121, 8)       32
_________________________________________________________________
dropout_26 (Dropout)         (None, 121, 121, 8)       0
_________________________________________________________________
conv2d_21 (Conv2D)           (None, 117, 117, 16)      3216
_________________________________________________________________
max_pooling2d_21 (MaxPooling (None, 58, 58, 16)        0
_________________________________________________________________
batch_normalization_21 (Batc (None, 58, 58, 16)        64
_________________________________________________________________
dropout_27 (Dropout)         (None, 58, 58, 16)        0
_________________________________________________________________
conv2d_22 (Conv2D)           (None, 56, 56, 32)        4640
_________________________________________________________________
max_pooling2d_22 (MaxPooling (None, 28, 28, 32)        0
_________________________________________________________________
batch_normalization_22 (Batc (None, 28, 28, 32)        128
_________________________________________________________________
dropout_28 (Dropout)         (None, 28, 28, 32)        0
_________________________________________________________________
conv2d_23 (Conv2D)           (None, 28, 28, 64)        2112
_________________________________________________________________
max_pooling2d_23 (MaxPooling (None, 14, 14, 64)        0
_________________________________________________________________
batch_normalization_23 (Batc (None, 14, 14, 64)        256
_________________________________________________________________
flatten_3 (Flatten)          (None, 12544)             0
_________________________________________________________________
dense_12 (Dense)             (None, 512)               6423040
_________________________________________________________________
dropout_29 (Dropout)         (None, 512)               0
_________________________________________________________________
dense_13 (Dense)             (None, 128)               65664
_________________________________________________________________
dropout_30 (Dropout)         (None, 128)               0
_________________________________________________________________
dense_14 (Dense)             (None, 32)                4128
_________________________________________________________________
dropout_31 (Dropout)         (None, 32)                0
_________________________________________________________________
dense_15 (Dense)             (None, 2)                 66
=================================================================
Total params: 6,505,842
Trainable params: 6,505,590
Non-trainable params: 252
_________________________________________________________________

"model = Sequential()\nmodel.add(eff)\nmodel.add(GlobalAveragePooling2D())\nmodel.add(Flatten())\nmodel.add(Dense(1024, activation = 'relu'))\nmodel.add(Dropout(0.2))\nmodel.add(Dense(512, activation = 'relu'))\nmodel.add(Dropout(0.2))\nmodel.add(Dense(64, activation = 'relu'))\nmodel.add(Dropout(0.2))\nmodel.add(Dense(2, activation = 'softmax'))\nmodel.summary()"

In [54]:
from tensorflow.keras import callbacks
plateau = callbacks.ReduceLROnPlateau(monitor='val_loss',
                                     patience = 1,
                                     factor = 0.1,
                                     min_lr = 0.0001,
                                     mode = 'max')

early_stopping = callbacks.EarlyStopping(monitor = 'val_loss',
                                        patience = 3,
                                        restore_best_weights=True,
                                        mode = 'max')

In [55]:
model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [56]:
epochs = 10

In [ ]:
ssTrain = train_generator.n//batch_size
ssValidation = validation_generator.n//batch_size

history = model.fit(
    train_generator,
    epochs = epochs,
    steps_per_epoch = ssTrain,
    validation_data = validation_generator,
    validation_steps = ssValidation
)

Epoch 1/10
 16/132 [==>...........................] - ETA: 33s - loss: 1.3683 - accuracy: 0.8164

In [38]:
model.evaluate(test_generator)

20/20 [==============================] - 11s 530ms/step - loss: 0.8412 - accuracy: 0.6250

[0.841163158416748, 0.625]

In [39]:
model.predict(test_generator)

array([[0.8492143 ],
       [0.86813045],
       [0.85931474],
       [0.89934605],
       [0.8836457 ],
       [0.8845061 ],
       [0.8890163 ],
       [0.8799163 ],
       [0.8590146 ],
       [0.8900675 ],
       [0.85487604],
       [0.85679644],
       [0.88083756],
       [0.8774391 ],
       [0.85939264],
       [0.87018216],
       [0.9140719 ],
       [0.8720351 ],
       [0.9116428 ],
       [0.87082624],
       [0.8754712 ],
       [0.887974  ],
       [0.8773    ],
       [0.92750525],
       [0.92068774],
       [0.9685759 ],
       [0.9164483 ],
       [0.8482693 ],
       [0.86666805],
       [0.85632277],
       [0.80010295],
       [0.85341895],
       [0.89829546],
       [0.87743413],
       [0.8630934 ],
       [0.85747445],
       [0.8706935 ],
       [0.873853  ],
       [0.90644175],
       [0.94911397],
       [0.8907295 ],
       [0.92107344],
       [0.82191265],
       [0.85823977],
       [0.86937076],
       [0.8678388 ],
       [0.9375642 ],
       [0.8742848 ],
       [0.8607544 ],
       [0.8801503 ],
       [0.8590897 ],
       [0.82848835],
       [0.8232697 ],
       [0.8429679 ],
       [0.81856614],
       [0.89755803],
       [0.95105094],
       [0.8212499 ],
       [0.87583905],
       [0.92139596],
       [0.91295373],
       [0.85123116],
       [0.84994614],
       [0.86076266],
       [0.91304946],
       [0.8880791 ],
       [0.83555865],
       [0.80093074],
       [0.9050838 ],
       [0.8415616 ],
       [0.9098655 ],
       [0.8620616 ],
       [0.8680081 ],
       [0.86200494],
       [0.8574995 ],
       [0.86730206],
       [0.8575559 ],
       [0.84663594],
       [0.8905693 ],
       [0.86686337],
       [0.85024214],
       [0.868632  ],
       [0.84371674],
       [0.88862467],
       [0.8674113 ],
       [0.89797246],
       [0.8552799 ],
       [0.87453794],
       [0.8810155 ],
       [0.9190027 ],
       [0.9067023 ],
       [0.84517723],
       [0.8260403 ],
       [0.8481509 ],
       [0.86676484],
       [0.9197324 ],
       [0.805388  ],
       [0.8423503 ],
       [0.87107515],
       [0.89528316],
       [0.8538205 ],
       [0.84578526],
       [0.87330353],
       [0.8521466 ],
       [0.8607668 ],
       [0.835915  ],
       [0.91108835],
       [0.88180625],
       [0.8810301 ],
       [0.8442782 ],
       [0.8446171 ],
       [0.81983393],
       [0.8188247 ],
       [0.8678232 ],
       [0.8398249 ],
       [0.8565141 ],
       [0.8506981 ],
       [0.84819555],
       [0.87062925],
       [0.8331242 ],
       [0.83215976],
       [0.9078095 ],
       [0.9238484 ],
       [0.911926  ],
       [0.82880014],
       [0.9159482 ],
       [0.873533  ],
       [0.8197568 ],
       [0.8623106 ],
       [0.90327984],
       [0.8480216 ],
       [0.8459414 ],
       [0.83105075],
       [0.89412117],
       [0.8172931 ],
       [0.85452586],
       [0.8265958 ],
       [0.82652795],
       [0.848023  ],
       [0.8533652 ],
       [0.915727  ],
       [0.89929205],
       [0.91203463],
       [0.9255385 ],
       [0.9318947 ],
       [0.90139675],
       [0.86751616],
       [0.88496614],
       [0.9163619 ],
       [0.84812284],
       [0.84812284],
       [0.9211308 ],
       [0.9043159 ],
       [0.89500016],
       [0.88841355],
       [0.9307627 ],
       [0.9136929 ],
       [0.8929518 ],
       [0.91831154],
       [0.931526  ],
       [0.90292406],
       [0.88459927],
       [0.8834353 ],
       [0.8423301 ],
       [0.8865394 ],
       [0.90298617],
       [0.90004677],
       [0.89368534],
       [0.8672617 ],
       [0.89199734],
       [0.84095293],
       [0.84095293],
       [0.8583427 ],
       [0.86182773],
       [0.88349617],
       [0.90463966],
       [0.8829593 ],
       [0.89429367],
       [0.89607924],
       [0.8890124 ],
       [0.8748848 ],
       [0.8529599 ],
       [0.9435487 ],
       [0.96938455],
       [0.89058965],
       [0.88242275],
       [0.85715145],
       [0.9064302 ],
       [0.87938505],
       [0.8881629 ],
       [0.7980341 ],
       [0.8581249 ],
       [0.93368137],
       [0.9646052 ],
       [0.9646052 ],
       [0.915976  ],
       [0.8447    ],
       [0.8591358 ],
       [0.8851929 ],
       [0.84513414],
       [0.8397504 ],
       [0.86567926],
       [0.90625656],
       [0.8303192 ],
       [0.8568818 ],
       [0.83601433],
       [0.93576235],
       [0.84377444],
       [0.84230286],
       [0.8767074 ],
       [0.85173744],
       [0.8609551 ],
       [0.881201  ],
       [0.89676106],
       [0.8891456 ],
       [0.8777938 ],
       [0.87031746],
       [0.84457475],
       [0.83022004],
       [0.8263781 ],
       [0.8603739 ],
       [0.8543817 ],
       [0.8410723 ],
       [0.8784085 ],
       [0.8390915 ],
       [0.83885443],
       [0.8099804 ],
       [0.8415762 ],
       [0.8825855 ],
       [0.8264012 ],
       [0.91530275],
       [0.82577676],
       [0.8790186 ],
       [0.8416654 ],
       [0.90104324],
       [0.9511751 ],
       [0.9198577 ],
       [0.89061373],
       [0.95953333],
       [0.8847636 ],
       [0.87735105],
       [0.87536   ],
       [0.95295614],
       [0.8769585 ],
       [0.93622327],
       [0.9592338 ],
       [0.9274301 ],
       [0.8124114 ],
       [0.9115639 ],
       [0.85113025],
       [0.838866  ],
       [0.8044511 ],
       [0.88426274],
       [0.9284694 ],
       [0.91994834],
       [0.9529582 ],
       [0.85749996],
       [0.8461676 ],
       [0.93000674],
       [0.9378487 ],
       [0.9737845 ],
       [0.96252936],
       [0.9227902 ],
       [0.9283814 ],
       [0.89172703],
       [0.955569  ],
       [0.9381713 ],
       [0.9426666 ],
       [0.9425499 ],
       [0.94715255],
       [0.8460216 ],
       [0.87734926],
       [0.9081282 ],
       [0.9101365 ],
       [0.97046196],
       [0.9668797 ],
       [0.982796  ],
       [0.9683783 ],
       [0.9573853 ],
       [0.8940852 ],
       [0.92839646],
       [0.9367958 ],
       [0.9150072 ],
       [0.9219985 ],
       [0.89976346],
       [0.88063174],
       [0.9254637 ],
       [0.9491499 ],
       [0.9140315 ],
       [0.9055952 ],
       [0.9197061 ],
       [0.9526897 ],
       [0.9413163 ],
       [0.8731169 ],
       [0.95154977],
       [0.8856777 ],
       [0.9559993 ],
       [0.9181221 ],
       [0.9413463 ],
       [0.94849086],
       [0.97297275],
       [0.93108207],
       [0.9477392 ],
       [0.9357562 ],
       [0.908377  ],
       [0.87320775],
       [0.93584085],
       [0.9605314 ],
       [0.95561445],
       [0.9651383 ],
       [0.97444767],
       [0.9600446 ],
       [0.94575876],
       [0.9136807 ],
       [0.88040704],
       [0.9284684 ],
       [0.9155197 ],
       [0.9521391 ],
       [0.9299249 ],
       [0.95518297],
       [0.9164668 ],
       [0.9495813 ],
       [0.9488872 ],
       [0.90794104],
       [0.90794104],
       [0.9012501 ],
       [0.905706  ],
       [0.87007076],
       [0.9306851 ],
       [0.9561942 ],
       [0.92335856],
       [0.94866645],
       [0.9478777 ],
       [0.9222576 ],
       [0.94281554],
       [0.9207839 ],
       [0.95181996],
       [0.9518143 ],
       [0.96091497],
       [0.9377524 ],
       [0.92072153],
       [0.94640034],
       [0.94640034],
       [0.95247597],
       [0.9097054 ],
       [0.95526946],
       [0.9299618 ],
       [0.9637463 ],
       [0.97535616],
       [0.9789362 ],
       [0.94336826],
       [0.8987269 ],
       [0.92178714],
       [0.9622645 ],
       [0.9328922 ],
       [0.9539873 ],
       [0.95110327],
       [0.94828236],
       [0.969963  ],
       [0.91853416],
       [0.941614  ],
       [0.9708199 ],
       [0.95522094],
       [0.89703095],
       [0.93179196],
       [0.9296038 ],
       [0.9262171 ],
       [0.9335409 ],
       [0.9228825 ],
       [0.97191477],
       [0.95843285],
       [0.9380237 ],
       [0.9232997 ],
       [0.87107325],
       [0.8854456 ],
       [0.9664746 ],
       [0.9512256 ],
       [0.91393775],
       [0.9536703 ],
       [0.8940093 ],
       [0.92855614],
       [0.933554  ],
       [0.93986255],
       [0.9610943 ],
       [0.94684595],
       [0.9121941 ],
       [0.9495444 ],
       [0.9696119 ],
       [0.9603163 ],
       [0.9754009 ],
       [0.97497106],
       [0.9333154 ],
       [0.94679165],
       [0.95326185],
       [0.9646723 ],
       [0.95506966],
       [0.9462582 ],
       [0.9274745 ],
       [0.95583045],
       [0.9626125 ],
       [0.95594615],
       [0.9167013 ],
       [0.8771309 ],
       [0.8762461 ],
       [0.880213  ],
       [0.91245174],
       [0.97077316],
       [0.91838837],
       [0.94769984],
       [0.9483339 ],
       [0.97398865],
       [0.94787914],
       [0.93736106],
       [0.89802676],
       [0.92759764],
       [0.9256624 ],
       [0.9075767 ],
       [0.9317293 ],
       [0.9234534 ],
       [0.9224714 ],
       [0.95119417],
       [0.97666866],
       [0.9321076 ],
       [0.95645416],
       [0.92586416],
       [0.970711  ],
       [0.9082337 ],
       [0.90491056],
       [0.8652217 ],
       [0.8924771 ],
       [0.9639359 ],
       [0.9410599 ],
       [0.9647906 ],
       [0.963033  ],
       [0.96948975],
       [0.9397996 ],
       [0.97703356],
       [0.91655195],
       [0.92285275],
       [0.9271883 ],
       [0.94677615],
       [0.9602383 ],
       [0.89691114],
       [0.9152267 ],
       [0.9284741 ],
       [0.9395797 ],
       [0.94569457],
       [0.9583191 ],
       [0.95903575],
       [0.8872924 ],
       [0.8835792 ],
       [0.9145052 ],
       [0.8796263 ],
       [0.9316085 ],
       [0.9433337 ],
       [0.9331905 ],
       [0.93433344],
       [0.95282984],
       [0.92001957],
       [0.97196305],
       [0.9379555 ],
       [0.97933173],
       [0.9430292 ],
       [0.8868698 ],
       [0.962325  ],
       [0.9223004 ],
       [0.96317613],
       [0.94640344],
       [0.95520777],
       [0.9438113 ],
       [0.897025  ],
       [0.96575344],
       [0.9516651 ],
       [0.9232629 ],
       [0.95379174],
       [0.9577137 ],
       [0.94958293],
       [0.922251  ],
       [0.9431168 ],
       [0.94070035],
       [0.90827924],
       [0.922458  ],
       [0.9475943 ],
       [0.92287856],
       [0.87341267],
       [0.9195358 ],
       [0.9503464 ],
       [0.9483899 ],
       [0.92143166],
       [0.9496671 ],
       [0.9270852 ],
       [0.92950183],
       [0.95961106],
       [0.9493708 ],
       [0.8861125 ],
       [0.9331032 ],
       [0.972629  ],
       [0.9110325 ],
       [0.9201778 ],
       [0.9121702 ],
       [0.8920983 ],
       [0.91371936],
       [0.954169  ],
       [0.8609527 ],
       [0.8773607 ],
       [0.9199862 ],
       [0.95362616],
       [0.8817335 ],
       [0.9284454 ],
       [0.916265  ],
       [0.86735773],
       [0.9304042 ],
       [0.8801881 ],
       [0.9141825 ],
       [0.919961  ],
       [0.88515055],
       [0.88397497],
       [0.92888933],
       [0.89708596],
       [0.90354174],
       [0.9059901 ],
       [0.91394025],
       [0.8864565 ],
       [0.9088054 ],
       [0.90121293],
       [0.8842568 ],
       [0.8580454 ],
       [0.87311554],
       [0.9201188 ],
       [0.9034748 ],
       [0.88543457],
       [0.8946555 ],
       [0.9124307 ],
       [0.90773386],
       [0.8618681 ],
       [0.89091945],
       [0.87511325],
       [0.9055109 ],
       [0.9139725 ],
       [0.9171299 ],
       [0.9117376 ],
       [0.90201026],
       [0.9324908 ],
       [0.896405  ],
       [0.9302546 ],
       [0.9272429 ],
       [0.9088395 ],
       [0.85733384],
       [0.8426882 ],
       [0.894517  ],
       [0.9492219 ],
       [0.9149143 ],
       [0.9276705 ],
       [0.8423592 ],
       [0.86627287],
       [0.8444932 ],
       [0.91361856],
       [0.8545294 ],
       [0.96053207],
       [0.9330972 ],
       [0.975662  ],
       [0.9635454 ],
       [0.9169351 ],
       [0.9551004 ],
       [0.94572735],
       [0.8584835 ],
       [0.9274277 ],
       [0.88786536],
       [0.9592902 ],
       [0.941987  ],
       [0.92914075],
       [0.9627113 ],
       [0.85906464],
       [0.89021355],
       [0.9236556 ],
       [0.8899225 ],
       [0.94132864],
       [0.9652606 ],
       [0.85351634],
       [0.94595355],
       [0.9240676 ],
       [0.9128388 ],
       [0.8946314 ],
       [0.88718414],
       [0.9084721 ],
       [0.9760961 ],
       [0.94745344],
       [0.884061  ],
       [0.86211663],
       [0.9455646 ],
       [0.9404657 ],
       [0.88098526],
       [0.8680575 ],
       [0.8990135 ],
       [0.8855977 ],
       [0.88231343],
       [0.8403736 ],
       [0.9345017 ],
       [0.92849016],
       [0.93225306],
       [0.93225306],
       [0.91146076],
       [0.9293316 ],
       [0.92773193],
       [0.9048603 ],
       [0.87879014],
       [0.8847452 ],
       [0.9232808 ],
       [0.8892318 ],
       [0.94694674],
       [0.9128855 ],
       [0.9343099 ],
       [0.90448225],
       [0.9241485 ],
       [0.8925929 ],
       [0.8993265 ],
       [0.86642724],
       [0.89138496],
       [0.8965531 ],
       [0.9363776 ],
       [0.90927494],
       [0.86790097],
       [0.94485384],
       [0.93640447]], dtype=float32)